/*formatação geral*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*fim formatação geral*/

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 70px;
}

.title h1 {
	background-color: rgb(153, 153, 153);
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 20px;
}

.reparte {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.reparte .anuncio .box-anucio {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.reparte .anuncio .box-anucio img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.reparte .elementos > .box {
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	background-color: rgb(96, 100, 100);
	color: aliceblue;
	border-radius: 20px;
	height: 10vh;
	top: 50%;
	left: 50%;
}

.reparte .elementos > h2{
	
}